/* Header styles */
.site-header {
	font-family: "Poppins";
	position: fixed;
	padding: 20px 0;
	display: flex;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	background: #f3f3f5 !important;
	backdrop-filter: blur(20px);
	border-bottom: 1px solid transparent;
	transition: 0.5s;
}

.nav-links {
	display: flex;
	gap: 20px;
}

.nav-link {
	color: #0d0d25;
	text-transform: capitalize;
	font-weight: 500;
	padding: 5px 18px;
	border-radius: 30px;
	text-decoration: none;
	transition: 0.3s;
}

.nav-link:hover {
	background: #f3f3f5;
	color: #ff8243;
	box-shadow: inset 8px 8px 12px #e2e2e2, inset -8px -8px 12px #ffffff;
}

.header-right {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-left: 40px;
}

.search-container {
	position: relative;
	background: #f8f8f8;
	border-radius: 10px;
	box-shadow: inset 6px 6px 8px #dadada, inset -6px -6px 8px #ffffff;
}

.search-input {
	font-size: 14px;
	padding: 10px 15px;
	padding-right: 40px;
	width: 200px;
	border: none;
	outline: none;
	background: transparent;
}

.search-input::placeholder {
	color: rgba(70, 69, 71, 0.7);
}

.search-button {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	border: none;
	background: transparent;
	opacity: 0.5;
}

.icon-btn {
	width: 40px;
	height: 40px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s;
	box-shadow: inset 6px 6px 7px #dadada, inset -6px -6px 7px #ffffff;
}

.icon-btn:hover {
	background: linear-gradient(145deg, #dcdcdc, #ffffff);
	box-shadow: 20px 20px 60px #cfcfd0, -20px -20px 60px #ffffff;
}

.cart-number {
	position: absolute;
	top: -10px;
	right: -10px;
	width: 22px;
	height: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background: #ffffff;
	font-size: 12px;
	border: 1px solid #bfbfbf;
	color: #ff8243;
}
