.foot-desc-txt {
	margin-top: 22px;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 34px;
	color: #0d0d25;
}

.sns-context {
	margin-top: 17px;
	width: 137px;
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: space-between;
}

.sns-context .sns-icon {
	width: 50px;
	height: 50px;
	padding: 15px;
	color: #ff8243;
	border-radius: 50%;
	background: linear-gradient(145deg, #e6e6e6, #ffffff);
	box-shadow: 4px 4px 8px #d0d0d0, -4px -4px 8px #ffffff;
}
.sns-context .sns-icon:hover {
	background: #ffa375;
	color: white;
	cursor: pointer;
}
.foot-category-title {
	width: 106px;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 34px;
	color: #0d0d25;
}

.foot-category-link {
	margin-top: 20px;
	height: 170px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 170px;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 34px;
}

.foot-category-link a {
	color: #ff8243;
	text-decoration: none;
	cursor: pointer;
}

.find-us {
	display: flex;
	flex-direction: row;
}

.find-us span {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 34px;
	color: #ff8243;
}

.find-us div {
	margin-left: 10px;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 34px;
	color: #0d0d25;
}

.copyright-txt {
	margin-top: 17px;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 34px;
	color: #ff8243;
}

.foot-category-title:after {
	display: block;
	content: "";
	border-bottom: solid 2px #ff8243;
	transform: scaleX(0);
	transition: transform 250ms ease-in-out;
	transform-origin: 0% 50%;
}

.foot-category-title:hover:after {
	transform: scaleX(1);
}
