.order-page {
	width: 100%;
	height: auto;
	display: flex;
	margin-top: 150px;
}

.order-page .order-container {
	margin-top: 50px;
	margin-bottom: 50px;
	display: flex;
	flex-direction: row;
}

.order-page .order-left {
	width: 860px;
	height: auto;
}

.order-page .order-right {
	width: 360px;
	height: auto;
	margin-top: 86px;
	margin-left: 30px;
	display: flex;
	flex-direction: column;
}

.order-page .order-right .order-info-box {
	width: 360px;
	height: auto;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #f8f8f8;
	box-shadow: inset 10px 10px 8px #dadada, inset -9px -9px 11px #ffffff;
	border-radius: 16px;
	margin-bottom: 25px;
	border: 1px solid #bfbfbf;
}

.order-page .order-right .order-info-box .member-box {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.order-page .order-right .order-info-box .liner {
	width: 100%;
	border: 1px solid #a1a1a1;
	margin-top: 40px;
	margin-bottom: 8px;
}

.order-page .order-info-box .order-user-img {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.order-page .order-info-box .order-user-img .order-user-avatar {
	width: 117px;
	height: 112px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	object-fit: cover;
	border-radius: 37px;
}

.order-page .order-info-box .order-user-icon-box {
	position: absolute;
	padding: 5px;
	width: 30px;
	height: 30px;
	top: 81%;
	right: 0;
	display: flex;
	background: rgba(0, 0, 0, 0.33);
	border-radius: 37px;
}
.order-page .order-info-box .order-user-name {
	margin-top: 10px;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 500;
	font-size: 28px;
	line-height: 36px;
	color: #08090d;
}

.order-page .order-info-box .order-user-prof {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 36px;
	color: #a1a1a1;
}

.order-page .order-info-box .order-user-address {
	width: 90%;
	display: flex;
	flex-direction: row;
}

.order-page .order-info-box .spec-address-txt {
	margin-left: 5px;
	font-family: "DM Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #616164;
}

.order-page .order-info-box .card-input {
	margin-top: 10px;
	padding: 10px;
	width: 100%;
	height: 40px;
	border-radius: 10px;
	font-family: "Nunito";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	border: 1px solid #bfbfbf;
	letter-spacing: -0.02em;
	color: #434141;
	background: #f8f8f8;
	box-shadow: inset 6px 6px 8px #dadada, inset -6px -6px 8px #ffffff;
}

.order-page .order-info-box .card-half-input {
	margin-top: 10px;
	padding: 10px;
	width: 49%;
	height: 40px;
	background: #f5f5f5;
	border-radius: 10px;
	font-family: "Nunito";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	border: 1px solid #bfbfbf;
	letter-spacing: -0.02em;
	color: #434141;
	background: #f8f8f8;
	box-shadow: inset 6px 6px 8px #dadada, inset -6px -6px 8px #ffffff;
}

.order-page .order-info-box .cards-box {
	margin-top: 35px;
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.order-page .order-left .order-nav-frame {
	width: 100%;
	height: 60px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-bottom: 1px solid #f8f8ff;
}

.order-page .order-left .order-nav-frame .table-list {
	display: flex;
	justify-content: space-between;
}

.order-page .order-main-content {
	width: 855px;
	height: auto;
}

.order-page .order-main-content .order-main-box {
	position: relative;
	width: 100%;
	max-height: 280px;
	margin-bottom: 25px;
	background: #f8f8f8;
	break-inside: avoid;
	box-shadow: inset 6px 6px 8px #dadada, inset -6px -6px 8px #ffffff;
	border-radius: 16px;
	border: 1px solid #bfbfbf;
	animation: fadeInUp 0.4s ease-out backwards;
}

.order-page .order-main-content .order-main-box .order-box-scroll {
	position: relative;
	overflow: hidden;
	width: 100%;
	min-height: 105px;
	max-height: 205px;
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	align-items: start;
	overflow-y: scroll;
}

.order-page .order-main-content .order-main-box .order-box-scroll::-webkit-scrollbar {
	width: 5px;
}

.order-page
	.order-main-content
	.order-main-box
	.order-box-scroll::-webkit-scrollbar-thumb {
	background: #f8f8ff;
	border-radius: 5px;
}

.order-page .order-box-scroll .orders-name-price {
	position: relative;
	height: 47px;
	margin-top: 5px;
	margin-left: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.order-page .order-box-scroll .orders-name-price .order-dish-img {
	position: relative;
	width: 50px;
	height: 47px;
	border-radius: 29px;
	background-size: cover;
}

.order-page .order-box-scroll .orders-name-price .title-dish {
	position: relative;
	width: 260px;
	height: 36px;
	margin-left: 20px;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 36px;
	color: #000000;
}

.order-page .order-box-scroll .orders-name-price .price-box {
	position: relative;
	max-width: 170px;
	height: 100%;
	margin-left: 150px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.order-page .order-box-scroll .orders-name-price .price-box p {
	font-family: "Times New Roman", Times, serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	color: #262626;
}

.order-page .order-main-content .order-main-box .total-price-box {
	position: relative;
	width: 100%;
	height: 41px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	box-sizing: border-box;
	border-radius: 5px;
	overflow: hidden;
}

.order-page .order-main-content .total-price-box .cancel-button {
	max-height: 40px;
	border-radius: 10px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background: linear-gradient(120deg, #ff6b6b, #d63031);
	color: #ffffff;
}

.order-page .order-main-content .total-price-box .pay-button {
	background: #56b74d;
	color: #f8f8ff;
	border-radius: 10px;
	max-height: 40px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.order-page .order-main-content .total-price-box .verify-button {
	background: #0288d1;
	color: #f8f8ff;
	border-radius: 10px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.order-page .order-main-content .order-main-box .total-price-box .box-total {
	position: relative;
	max-width: 535px;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.order-page .total-price-box .box-total p {
	margin-left: 20px;
	font-family: "Commissioner";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 36px;
	color: #000000;
}

.order-page .total-price-box .box-total .data-compl {
	font-family: "Commissioner";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 36px;
}
