html {
	scroll-behavior: smooth;
}
.products-page {
	position: relative;
	width: 100%;
	height: auto;
}

/** Products*/
.products-page .products {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	animation: fadeInUp 0.7s ease-out backwards;
}
.products-page .products .avatar-big-box {
	position: relative;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.products-page .products .top-text {
	position: relative;
	width: 100%;
	height: 43px;
	margin-top: 80px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.products-page .products .top-text p {
	position: relative;
	margin-left: 380px;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 45px;
	line-height: 43px;
	color: #343434;
}

.products-page .products .single-search-big-box {
	position: relative;
	width: 337px;
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.products-page .products .single-search-input {
	font-size: 14px;
	width: 67%;
	height: 50px;
	outline: none !important;
	padding: 10px 15px;
	color: #0d0d25;
	border-radius: 10px;
	border: none;
	background: #f8f8f8;
	box-shadow: inset 6px 6px 8px #dadada, inset -6px -6px 8px #ffffff;
}
.single-search-input::placeholder {
	font-family: "Poppins";
	color: rgba(70 69 71 / 0.7);
	color: #ff8243;
}

.products-page .products .single-button-search {
	cursor: pointer;
	border: none;
	height: 50px;
	border-radius: 10px;
	color: #ff8243;
	background: linear-gradient(145deg, #e6e6e6, #ffffff);
	box-shadow: 4px 4px 8px #d0d0d0, -4px -4px 8px #ffffff;
	font-family: "Poppins";
}
.products-page .products .single-button-search:hover {
	color: #ffffff;
	background: #ff8243;
}
.products-page .products .dishes-filter-section {
	margin-top: 50px;
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.products-page .products .dishes-filter-box {
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.products-page .products .order {
	color: #ff8243;
	background: linear-gradient(145deg, #e6e6e6, #ffffff);
	box-shadow: 4px 4px 8px #d0d0d0, -4px -4px 8px #ffffff;
	margin-right: 20px;
	font-family: "Poppins";
}
.products-page .products .order:hover {
	background: #ff8243;
	color: white;
	cursor: pointer;
}
.products-page .products .active-order-button {
	background: #ff8243;
	color: white;
	cursor: pointer;
}

.products-page .products .list-category-section {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.products-page .products .product-category {
	margin-top: 60px;
	width: 50px;
	height: auto;
	display: flex;
	flex-direction: column;
}

.products-page .product-category .category-main {
	display: flex;
	flex-direction: row;
	justify-content: end;
	transform: rotate(-90deg);
	margin-right: 20px;
}

.products-page .product-category .category-main button {
	min-width: auto;
	margin-right: 15px;
}

.products-page .products .product-wrapper {
	width: 100%;
	min-height: 500px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
}

.products .product-wrapper .no-data {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: capitalize;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 34px;
	color: #e3c08d;
}

.products-page .product-card {
	margin-top: 40px;
	width: 275px;
	min-height: 300px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
	overflow: hidden;
	animation: fadeInUp 0.5s ease-in-out forwards;
	background: linear-gradient(145deg, #ececec, #ffffff);
	box-shadow: 28px 28px 45px #d4d4d4;
}

.products-page .product-card .product-img {
	position: relative;
	width: 273px;
	height: 273px;
	background-size: cover;
	transition: transform 0.3s ease;
}
.products-page .product-card .product-img:hover {
	transform: scale(1.15);
}

.products-page .product-img .product-scale {
	margin: 10px;
	width: 100px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #ff9200;
	box-shadow: 4px 6px 20px #0000001a;
	border-radius: 25px;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 21px;
	color: #ffffff;
}

.products-page .product-card .product-desc {
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
}

.products-page .product-desc .product-title {
	margin-top: 10px;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
}

.products-page .product-desc .product-desc {
	margin-top: 2px;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
	color: #e3c08d;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.products-page .products .product-img:before {
	content: "";
	opacity: 0;
	transition: opacity 0.5s ease;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 2;
}

.products-page .products .product-img:hover:before {
	opacity: 1;
}

.products-page .products .product-img img {
	position: absolute;
	display: block;
	max-width: 100%;
	height: auto;
	z-index: 1;
}

.products-page .products .shop-btn {
	position: absolute;
	padding: 20px;
	top: 217px;
	width: 64px;
	height: 46px;
	left: 105px;
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	z-index: 3;
	opacity: 0;
	transition: opacity 0.5s ease;
	background: rgb(198 0 255 / 66%);
	border: 2px solid #d7b686;
	border-radius: 10px;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 10px;
	line-height: 15px;
	color: #f8f8ff;
}

.products-page .products .product-img:hover .shop-btn {
	opacity: 1;
}

.products-page .products .product-img:hover .view-btn {
	opacity: 1;
}

.products-page .products .view-btn {
	position: absolute;
	top: 223px;
	padding: 5px;
	min-width: 40px;
	width: 40px;
	height: 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	z-index: 3;
	opacity: 0;
	transition: opacity 0.5s ease;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 50%;
}

.products-page .products .pagination-section {
	width: 100%;
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.products-page .products .address {
	margin-bottom: 60px;
	height: auto;
	background: #f8f8ff;
}

/* address area*/
.products-page .products .address .address-area {
	margin-top: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.products-page .products .address .title {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 43px;
}
/*branches section*/
.products-page .products .brands-logo {
	margin-top: 60px;
	width: 100%;
	min-height: 630px;
	display: flex;
	background: linear-gradient(145deg, #c0b3b3, #ffffff);
}

.products-page .products .brands-logo .family-brands {
	padding-top: 70px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.products-page .products .brands-logo .family-brands .branch-list {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: space-between;
	padding-bottom: 50px;
}

.products-page .products .brands-logo .card {
	width: 350px;
	height: 400px;
	border-radius: 25px;
	position: relative;
	overflow: hidden;
	transition: 0.5s;
	cursor: pointer;
	box-shadow: 28px 28px 45px #d4d4d4;
}
.products-page .products .brands-logo .card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 0.5s;
	padding: 0px;
}
.products-page .products .brands-logo .card .layer {
	background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 75%;
	transition: 0.3s;
	opacity: 0;
}

.products-page .products .brands-logo .card .info {
	position: absolute;
	bottom: -90%;
	padding: 15px;
	opacity: 1;
	transition: 0.5s bottom, 1.75s opacity;
	color: white;
	z-index: 1;
}
.products-page .products .brands-logo .card .info p {
	font-size: 15px;
	margin-top: 3px;
}
.brands-logo .card .info .branch-button {
	background: #2db400;
	border: none;
	padding: 8px, 12px;
	font-weight: bold;
	border-radius: 8px;
	margin-right: 8px;
	color: white;
}
.brands-logo .card:hover,
.brands-logo .card:hover img,
.products-page .products .brands-logo .card .layer {
	transform: scale(1.1);
}
.products-page .products .brands-logo .card:hover > .layer {
	opacity: 1;
}
.products-page .products .brands-logo .card:hover > .info {
	bottom: 0;
	opacity: 1;
}
.branch-list:hover .card {
	filter: blur(5px);
}
.branch-list .card:hover {
	filter: none;
	z-index: 1;
	transform: scale(1.03);
}

.products-page .products .brands-logo .title {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 43px;
	margin-bottom: 50px;
	color: #ff8243;
}

/** ChosenProduct **/

.products-page .chosen-product {
	position: relative;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 150px;
}

.products-page .chosen-product .product-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 80px;
	margin-bottom: 150px;
}

.products-page .chosen-product .chosen-product-slider {
	width: 48%;
	height: 480px;
	background: #ffffff;
	box-shadow: 9px 13px 14px 5px rgba(0, 0, 0, 0.25),
		inset -1px 2px 10px 3px rgba(0, 0, 0, 0.25);
	border-radius: 16px;
	overflow: hidden;
}

.products-page .chosen-product .chosen-product-slider .swiper-area {
	--swiper-navigation-color: #fff;
	--swiper-pagination-color: #fff;
	width: 100%;
	height: 1020px;
}

.products-page .chosen-product .chosen-product-slider .swiper-area .slider-image {
	width: 100%;
	height: 100%;
}

.products-page .chosen-product .chosen-product-info {
	padding: 30px 40px;
	width: 49%;
	height: 480px;
	display: flex;
	background: #ffffff;
	box-shadow: 9px 13px 14px 5px rgba(0, 0, 0, 0.25),
		inset -1px 2px 10px 3px rgba(0, 0, 0, 0.25);
	border-radius: 16px;
}

.products-page .chosen-product .chosen-product-info .info-box {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
}

.products-page .chosen-product .info-box .product-name {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 36px;
	color: #000000;
}

.products-page .chosen-product .info-box .resto-name {
	margin-top: 16px;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 15px;
	color: #979797;
}

.products-page .chosen-product .info-box .rating-box {
	margin-top: 20px;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.products-page .chosen-product .rating-box .star-box {
	width: auto;
	height: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.products-page .chosen-product .rating-box .evaluation-box {
	width: auto;
	height: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.products-page .chosen-product .rating-box .evaluation-box .product-view {
	display: flex;
	align-items: center;
}

.products-page .chosen-product .info-box .product-desc {
	height: 112px;
	margin-top: 30px;
	margin-bottom: 30px;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
}

.products-page .chosen-product .info-box .product-price {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.products-page .chosen-product .product-price span {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	line-height: 22px;
	color: #000000;
}

.products-page .chosen-product .button-box {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.products-page .chosen-product .button-box button {
	width: 230px;
	height: 44px;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 22px;
	color: #f8f8ff;
}

.products-page .chosen-product .title {
	font-family: "Dancing Script";
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 43px;
	margin-top: 40px;
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}
